/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Use your own code or past solution for Great Idea Web Page CSS here! */

/**
	Index Page
**/

body {
	max-width: 880px;
	margin: 0 auto;
}

p {
	line-height: 1.4rem;
}

h1, h3 {
	font-weight: bold;
}

header {
	padding: 5px 0;
    max-width: 880px;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

nav {
	display: flex;
}

nav a {
	text-align: center;
	color: #b5b0b0;
	padding: 10px 15px;
    margin: 5px 7px;
	text-decoration: none;
}

nav a:hover {
	color: black;
	transition: all .5s;
}

.logo {
	padding-top: 5px;
    padding-right: 20px;
    text-align: center;
}

.jumbotron {
	margin-top: 50px;
	display: flex;
}

.jumbotron h1 {
	font-size: 72px;
    padding: 0 90px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.jumbotron .box {
	width: 48%;
	vertical-align: top;
	margin-right: 20px;
	text-align: center;
}

.jumbotron a {
	border: 1px solid black;
	padding: 3px 30px;
	text-decoration: none;
	color: black;
}

.jumbotron a:hover {
	color: white;
	background: black;
	transition: all .5s;
}

.main-content {
	margin-top: 60px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 30px 0;
}

.first-section {
	display: flex;
}

.first-section .box {
	width: 48%;
	margin-right: 20px;
}

.second-section {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.third-section {
	display: flex;
	margin-top: 40px;
}

.third-section .box {
	width: 31.333%;
	margin-right: 20px;
}

.jumbotron .box:last-child,
.first-section .box:last-child, 
.third-section .box:last-child {
	margin-right: 0;
}

footer {
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
    flex-direction: column;
}

footer address a {
	text-decoration: none;
	color: black;
}

footer small {
	text-align: center;
    width: 100%;
    margin-top: 40px;
}

/***
	Services Page
***/

.jumbotron.services {
	flex-direction: column;
}

.jumbotron.services h1 {
	padding: 0;
	font-size: 28px;
	margin: 20px 0;
}

.main-content.services {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main-content.services .box {
	width: 48%;
	padding: 15px;
	margin-bottom: 3%;
	border: 1px solid black;
	box-sizing: border-box;
	background: #f4f3f4;
	display: flex;
	flex-direction: column;
}

.main-content.services a {
	padding: 10px 30px;
	margin-top: 30px;
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;;
	color: black;
	align-self: flex-start;
	transition: all .5s;
}

.main-content.services a:hover {
	color: white;
	background: black;
}

.second-section.services {
	display: flex;
	justify-content: space-between;
}

.second-section.services .box {
	width: 48%;
}

.second-section.services ul {
	margin: 30px 0 0 20px;
	list-style-type: square;
}

.second-section.services ul li {
	margin-bottom: 10px;
}

@media(max-width: 800px) {
	body {
		padding: 20px;
	}

	.logo {
		margin-bottom: 30px;
	}

	.nav-container {
		flex-direction: column-reverse;
		margin-top: 0;
	}

	nav {
		margin-top: unset;
		justify-content: space-between;
	}

	nav a {
		padding: unset;
		margin: unset;
	}

	.jumbotron {
		justify-content: center;
	}

	.jumbotron .box {
		padding: 0 5%;
	}

	.jumbotron h1 {
		margin-top: unset;
		padding: unset;
	}

	.jumbotron .box:last-child {
		display: none;
	}

	.second-section img {
		width: 100%;
	}

}

@media(max-width: 500px) {
	nav {
		flex-direction: column;
	}

	nav a {
		font-size: 18px;
		font-weight: bold;
		border-top: 1px solid black;
		padding: 15px;
	}

	nav a:last-child {
		border-bottom: 1px solid black;
	}

	.main-content {
		border-top: 2px solid black;
		border-bottom: 2px solid black;
	}

	.jumbotron .box {
		width: 55%;
		padding: unset;
	}

	.jumbotron h1 {
		text-align: center;
		font-size: 48px;
	}

	.first-section,
	.third-section {
		flex-direction: column;
	}

	.first-section .box,
	.third-section .box {
		width: 100%;
    	margin-bottom: 5%;
    	margin-right: unset;
	}

}